* {
    margin: 0;
}

/*
body {
    margin: fill;
    width: 100%;
}
*/

nav{
    position: sticky;
    top: 0;
    width: 100%;
}
.landingheader{
    display: flex;
    width: 1920px;
    height: 200px;
    justify-content: center;
}
.background-image{

}
nav ul{
    margin: 0 40px;
    display: flex;
    justify-content: center;
}

nav li{
    display: inline;
    padding: 20px 20px 12px 20px;
}

/* Side Bar */
h2 {
    display: flex;
    justify-content: center;
}
.SideBar {
    height: 100%;
    margin-top: 0;
    width: 200px;
    position: fixed;
    overflow-x: hidden;
}

.SideBar li{
    display: flex;
    justify-content: center;
    padding: 20px 20px;
}
/* main page*/
h1 {
    display: flex;
    justify-content: center;
}

.containertt {
    display: flex;
    align-items: center;
    justify-content: center;
/*    border: 2px solid black;*/
    flex-direction: column;
    padding-bottom: 40px;
}
p{
    text-align: center;
}
.img-container{
    background-image: url("../Images/dungeonbackground.jpg");
    width: 1920px;
    height: 1280px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
a{
    justify-content: center;
}
footer {
    display: flex;
    justify-content: center;
}