body {
    width: 100%;
}

nav{
    position: sticky;
    top: 0;
    width: 1920px;
}
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}

.landingheader{
    display: flex;
    width: 1920px;
    height: 200px;
    justify-content: center;
    position: relative;
}

.background-image{

}
nav ul{
    margin: 0 40px;
    display: flex;
    justify-content: center;
}

nav li{
    display: inline;
    padding: 20px 20px 12px 20px;
}

/* Side Bar */
h2 {
    display: flex;
    justify-content: center;
}
.SideBar {
    height: 100%;
    margin-top: 0;
    width: 200px;
    position: fixed;
    overflow-x: hidden;
}

.SideBar li{
    display: flex;
    justify-content: center;
    padding: 20px 20px;
}
/* main page*/
h1 {
    display: flex;
    justify-content: center;
}

.containertt {
    display: flex;
    align-items: center;
    justify-content: center;
/*    border: 2px solid black;*/
    flex-direction: column;
    padding-bottom: 40px;
}
p{
    text-align: center;
}
.img-container{
    background-image: url("../Images/usernameimagebetter.jpg");
    width: 1920px;
    height: 1280px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.homepage-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
footer {
    bottom: 0;
    position: sticky;

}*/
