<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Action Template</title>
</head>
<body>
<div class="containertt">
    <div th:each="explore:${explorationTags}">
        <strong> <span th:text="${explore.name}" style="font-family: 'Arial Narrow'">default</span></strong>
        <p th:text="${explore.description}">default</p>
        <p th:text=" '#' + ${explore.hashtag}"></p>
        <hr>
    </div>
    <a href="index.html"><button type="submit">Home</button></a>
</div>


</body>
</html>