<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dungeons & Developers</title>
    <link rel="stylesheet" th:href="@{/CSS/styles.css}"/>
    <link rel="stylesheet" th:href="@{/CSS/layout.css}"/>
</head>
<body>

<!--Nav Bar-->

<nav>
    <ul>

        <li><a href="Games">Games</a></li>
        <li> <a href="Hashtags">Hashtags</a></li>

    </ul>
</nav>

<!-- Genre Bar -->

<div class="SideBar">
  <!--  <h2>Hashtags</h2>
    <ul th:each="hashtag" >
        <a href="RPG"><li>#RPG</li></a>
    </ul>-->
</div>

<!-- main content-->

<div class="container">
    <h1>Dungeons & Developers!</h1>
    <p>Welcome to Dungeons & Developers. Where all your game review needs are met!</p>
</div>
</body>
</html>