<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/CSS/styles.css}"/>
        <link rel="stylesheet" th:href="@{/CSS/layout.css}"/>
        <title>Dungeons & Developers</title>
    </head>

    <body>

        <nav class="landingheader">
            <h1><strong>Dungeons & Developers</strong></h1>
        </nav>
        <div class = img-container>
        <div class="containertt">
            <p><span style="color: green"><strong>Please Login</strong></span></p>
            <form action="/setusername" method="POST">
                <label for="userbox"><strong style="color: green">Enter Username: </strong></label>
                <input type="text" id="userbox" name="newUsername"/>
                <button type="submit"><strong>Login</strong></button>
            </form>
            <th:block th:if="${!isValid}"><strong style="color: red">Please enter a valid login name!</strong></th:block>
            </div>
        </div>
    </body>

<footer>
    <p>©Dungeons & Developers, LLC</p>
</footer>
</html>
